<html>
<body>

<h1>{{ .Title }}</h1>

<p>Each goat is $250. Please do not ask to lower the price.</p>

<p>If you are interested, please contact Kris Schroetlin.</p>

<p>Cell: ###-###-####<p>

<p>Address: 2508 Fairmount Street.
Colorado Springs, CO
80909</p>

<p>{{ .Goats }}</p>

<link rel = "stylesheet" href = "/demo/cssdemo1.css">
<figure>
  <figcaption> Name: Peanut Gender: Female </figcaption>
<img src = "https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/104968238_888496384984242_1408753925454983498_o.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=xBvxML1S8HgAX_gc0rT&_nc_ht=scontent.fapa1-2.fna&oh=373a6354bc92bf99d3deba0e607fc271&oe=5F0F9458"
width = "600"
height = "800"
title = "Peanut">
</figure>

<figure>
  <figcaption> Name: Pepper Gender: Female </figcaption>
<img src = "https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/103779962_888496411650906_5615761550038529125_o.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=W2tindkx3WkAX9sn2zc&_nc_ht=scontent.fapa1-2.fna&oh=e218750be8adddd819242374c0935184&oe=5F11A372"
width = "600"
height = "800"
title = "Pepper">
</figure>

<figure>
  <figcaption> Name: N/A Gender: Male <figcaption>
<img src = "https://scontent.fapa1-1.fna.fbcdn.net/v/t1.0-9/104981581_888506018316612_3634838227849339963_o.jpg?_nc_cat=106&_nc_sid=730e14&_nc_ohc=rMn7V5YeviAAX-93iAe&_nc_ht=scontent.fapa1-1.fna&oh=1db35575498ce8a5450407611168bb35&oe=5F0FF9D7"
width = "720"
height = "700"
title = "Male Baby Goat">
</figure>

<figure>
  <figcaption> Name: Deer/Cinnamon Gender: Female</figcaption>
<img src = "C:\Users\rleckey\go\src\hello\pics\deer.jpg"
width = "600"
height = "800"
title = "Deer or Cinnamon">
</figure>

</body>
<html>
