<!doctype html>
<html lang = "en">
<head>
	<meta charset = "UTF_8">
	<meta name = "viewport"
		content = "width=device-width, user-scalable=no, initial-scale = 1.0, maximum-scale = 1.0,
	minimum-scale = 1.0">
		<meta http-equiv = "X-UA-Compatible" content = "ie = edge">
		<title>Goat App Page</title>
	</head>
	<body>

	<h1>About</h1>

	<a href = "/home">Home</a>
	<a href = "/about">About</a>

	<img src "/pics/IMG_8791.jpg" alt="">
	<img src "/pics/IMG_8804.jpg" alt ="">

	</body>
	</html>
